spring:
  application:
    name: product-service
  mongodb:
    username: root
    password: password
    host: localhost
    port: 27017
    database: product
    authentication-database: admin

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  observations:
    key-values:
      application: product-service

  tracing:
    sampling:
      probability: 1.0


server:
  port: 4000

loki:
  url: http://localhost:3100/loki/api/v1/push
